.performance {
    padding: 0 2.5rem;
    // @include flexBox(flex, stretch, space-between);
    &-top {
        @include flexBox(flex, flex-start, flex-start, column);
    }
    &-list {
        width: 100%;
        @include flexBox(flex, center, space-between, row, wrap);
        row-gap: 2.5rem;
        margin-bottom: 2.5rem;
    }
    &-item {
        padding: 2.5rem 3.5rem;
        width: calc(100% / 4 - (2.5rem * 3) / 4);
        @include flexBox(flex, center, space-between);
        border-radius: 8px;
        background-color: white;
        @include boxShadowAdmin();
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
            background-color: rgba($primary-light-color, 0.1);
        }
        &-icon {
            color: rgba($primary-color, 0.8);
            font-size: 4rem;
        }
        &-number {
            font-family: "SFProVietsub";
            font-size: 1.8rem;
            font-weight: 700;
            text-transform: capitalize;
            color: $title-color;
            @include letterSpace(0.05rem);
            margin-bottom: 1.2rem;
        }
        &-des {
            font-family: "SFProVietsub";
            font-size: 1.3rem;
            font-weight: 300;
            @include letterSpace(0.05rem);
            color: $icon-route-color;
        }
    }
    &-statistic {
        width: 100%;
        @include flexBox(flex, stretch, space-between);
    }
    &-chart {
        width: calc(100% - (100% / 4 - (2.5rem * 3) / 4) - 2.5rem);
        background-color: white;
        border-radius: 8px;
        padding: 1rem;
        @include boxShadowAdmin();
    }
    &-pie {
        width: calc(100% / 4 - (2.5rem * 3) / 4);
        background-color: white;
        border-radius: 8px;
        padding: 1rem;
        @include boxShadowAdmin();
    }

    @include maxWidth(1279.8px) {
        &-item {
            padding: 2.5rem 2.5rem;
        }
    }
    @include maxWidth(1079.8px) {
        &-item {
            padding: 2.5rem 1.5rem;
            width: calc(100% / 3 - (2.5rem * 2) / 4);
        }
        &-chart {
            width: calc(50% - 2.5rem / 2);
        }
        &-pie {
            width: calc(50% - 2.5rem / 2);
        }
    }
    @include maxWidth(767.8px) {
        &-item {
            padding: 2.5rem 1rem;
            width: calc(100% / 2 - (2.5rem * 2) / 4);
        }
        &-statistic {
            display: block;
        }
        &-chart {
            width: 100%;
            margin-bottom: 2rem;
        }
        &-pie {
            width: 100%;
        }
    }
    @include maxWidth(599.8px) {
        &-item {
            padding: 2.5rem 2.5rem;
            width: 100%;
        }
    }
}
