.recommend {
    padding-top: 10rem;
    background-image: url(./../images/home-bg-tower.png);
    background-repeat: repeat-x;
    background-size: contain;
    &-title {
        font-family: "SFProVietsub";
        font-size: 3rem;
        font-weight: 900;
        color: $primary-color;
        @include letterSpace(0.4rem);
        text-transform: uppercase;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2.5rem;
    }
    &-sub {
        font-family: "SFProVietsub";
        font-size: 2.5rem;
        color: rgba($secondary-color, 0.8);
        font-weight: 100;
        @include letterSpace(0.1rem);
        text-align: center;
    }
    &-swiper {
        position: relative;
        max-width: 100vw;
        overflow: hidden;
        padding: 10rem 0;
        &-slide {
            position: relative;
            // width: calc(100% / 7 - (7rem * 6) / 6);
            width: 17rem;
            height: 21rem;
            box-shadow: 0 2px 50px -6px #000;
            border-radius: 8px;
            position: relative;
            z-index: 2;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: all 0.8s ease;
            &.swiper-slide {
                opacity: 0.5;
                transition: all 0.8s ease;
            }
            &.swiper-slide-active {
                opacity: 1;
                transform: scale(1.5, 1.4);
            }
            &.swiper-slide-next {
                z-index: 1;
                transform: scale(1.2, 1.1);
            }
            &.swiper-slide-prev {
                z-index: 1;
                transform: scale(1.2, 1.1);
            }
        }
        &-button {
            display: inline-grid;
            place-content: center;
            font-size: 3.5rem;
            padding: 1rem;
            border-radius: 50%;
            box-shadow: 1px 2px 7px #000;
            background-color: rgb(250, 250, 250);
            color: rgba($primary-color, 0.8);
            @include positionElement("row-center");
            z-index: 5;
            cursor: pointer;
            &-next {
                right: 15rem;
            }
            &-prev {
                left: 15rem;
            }
        }
        &-content {
            @include size(100%);
            @include flexBox(flex, stretch, flex-end, column);
            padding-bottom: 0.5rem;
            color: white;
            text-align: center;
            text-shadow: 0 0 2px #000;
            text-transform: capitalize;
        }
        &-province {
            @include flexBox(flex, center, center);
            margin-bottom: 1rem;
            font-size: 1rem;
            @include letterSpace(0.05rem);
        }
        &-city {
            font-size: 1.6rem;
        }
    }
    @include maxWidth(1023.8px) {
        &-swiper {
            &-slide {
                height: 15rem;
            }
        }
    }

    @include maxWidth(767.8px) {
        padding-top: 5rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &-title {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }
        &-sub {
            font-size: 1.8rem;
        }
        &-swiper {
            padding: 6rem 1.5rem 10rem 1.5rem;
            overflow: hidden;
            &-button {
                display: none;
            }
            &-slide {
                height: 13rem;
            }
            &-province {
                font-size: 0.8rem;
                margin-bottom: 0.5rem;
            }
            &-city {
                font-size: 1.2rem;
            }
        }
    }
    @include maxWidth(479.8px) {
        &-swiper {
            &-slide {
                height: 12rem;
            }
        }
    }
    @include maxWidth(479.8px) {
        &-swiper {
            &-slide {
                height: 12rem;
            }
        }
    }
}
