@charset "UTF-8";
@font-face {
  font-family: "SFProText", sans-serif;
  font-weight: 300;
  src: url(./../fonts/FontsFree-Net-SFProText-Light-1.ttf);
}
@font-face {
  font-family: "SFProText", sans-serif;
  font-weight: 600;
  src: url(./../fonts/FontsFree-Net-SFProText-Regular-1.ttf);
}
@font-face {
  font-family: "SFProText", sans-serif;
  font-weight: 900;
  src: url(./../fonts/FontsFree-Net-SFProText-Semibold-1.ttf);
}
@font-face {
  font-family: "SFProVietsub";
  font-weight: 100;
  src: url(./../fonts/SF-Pro-Display-Light.otf);
}
@font-face {
  font-family: "SFProVietsub";
  font-weight: 300;
  src: url(./../fonts/SF-Pro-Display-Regular.otf);
}
@font-face {
  font-family: "SFProVietsub";
  font-weight: 500;
  src: url(./../fonts/SF-Pro-Display-Medium.otf);
}
@font-face {
  font-family: "SFProVietsub";
  font-weight: 600;
  src: url(./../fonts/SF-Pro-Display-Semibold.otf);
}
@font-face {
  font-family: "SFProVietsub";
  font-weight: 700;
  src: url(./../fonts/SF-Pro-Display-Bold.otf);
}
@font-face {
  font-family: "SFProVietsub";
  font-weight: 900;
  src: url(./../fonts/SF-Pro-Display-Heavy.otf);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "SFProText", sans-serif;
  font-size: 1.4rem;
  color: #637280;
  line-height: 1;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

input,
button,
select,
textarea {
  outline: none;
  font-family: "SFProText", sans-serif;
  font-size: 1.4rem;
}

input,
textarea {
  line-height: normal;
}

button {
  cursor: pointer;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

.mini-container {
  max-width: 730px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  padding-top: 102px;
}

.header {
  height: 102px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.3s ease;
  box-shadow: 0 1px 4px 0 rgba(128, 128, 128, 0.2);
}
.header-up {
  transform: translateY(-35px);
  box-shadow: 0 0.3rem 5rem 0 rgba(0, 0, 0, 0.4);
}
.header-up-responsive {
  transform: translateY(-51px);
}
.header-top {
  height: 34px;
  padding: 0.2rem;
  background-image: url(./../images/home-header-top.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header-logo {
  width: 18.8rem;
  height: 4.2rem;
  display: block;
}
.header-logo-img {
  object-fit: cover;
}
.header-logo-top {
  display: none;
}
.header-logo-side {
  display: none;
}
.header-toggle {
  display: none;
}
.header-toggle i {
  font-size: 2.8rem;
  color: #141414;
}
.header-toggle-close {
  display: none;
}
.header-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
}
.header-contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: normal;
  color: white;
  gap: 2rem;
}
.header-contact-icon {
  margin-right: 0.5rem;
  font-size: 1.4rem;
}
.header-contact-content {
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
}
.header-control {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  gap: 2.4rem;
  color: white;
}
.header-social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: normal;
  gap: 2rem;
}
.header-social-link {
  font-size: 2rem;
  display: grid;
  align-content: center;
  padding: 0.3rem;
  border-radius: 50%;
  text-align: center;
}
.header-social-link:first-child {
  background-color: #3b5998;
}
.header-social-link:last-child {
  background-color: #e62117;
}
.header-language-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  gap: 3.4rem;
}
.header-language-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
}
.header-language-image {
  width: 2.6rem;
  height: 2.6rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.01rem solid #ef5222;
  margin-right: 0.1rem;
}
.header-login {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  min-width: 11.6rem;
  gap: 0.6rem;
  padding: 0.6rem 1rem;
  background-color: #00613d;
  border-radius: 0.4rem;
}
.header-login-icon {
  font-size: 1.8rem;
}
.header-login-text {
  font-size: 1.2rem;
  font-weight: 600;
}
.header-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
  height: 68px;
  position: relative;
}
.header-bottom-img {
  display: inline-block;
  width: 9rem;
  height: 6.2rem;
}
.header-bottom-imgleft {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
}
.header-bottom-imgright {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
}
.header-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
}
.header-nav-active .header-nav-link {
  color: #ef5222;
}
.header-nav-link {
  display: inline-block;
  width: 10.8rem;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  transition: 0.3s ease;
}
.header-nav-link:hover {
  color: #ef5222;
}
.header-toggle-active i.header-toggle-menu {
  display: none;
}
.header-toggle-active i.header-toggle-close {
  display: block;
}
.header-toggle-active .header-side-menu {
  transform: translateX(0);
  box-shadow: 10rem 0rem 5rem 0 rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 969.8px) {
  body {
    padding-top: 50px;
  }

  .header {
    height: 50px;
    background-color: white;
    padding: 1rem 1rem 1rem 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: normal;
    box-shadow: 0 0.2rem 2rem 0 rgba(0, 0, 0, 0.4);
  }
  .header-up {
    transform: translateY(0);
    box-shadow: 0 0.1rem 3rem 0 rgba(0, 0, 0, 0.4);
  }
  .header-logo-top, .header-toggle {
    display: block;
  }
  .header-logo {
    width: 17.5rem;
    height: 3.5rem;
  }
  .header-side-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20rem;
    overflow-y: overlay;
    background-color: white;
    z-index: 99;
    padding: 1rem 0;
    transform: translateX(-100%);
    transition: all 0.5s ease;
  }
  .header-side-menu::-webkit-scrollbar {
    width: 0.5rem;
  }
  .header-side-menu::-webkit-scrollbar-track {
    background-color: rgba(220, 225, 230, 0.8);
  }
  .header-side-menu::-webkit-scrollbar-thumb {
    background-color: #ef5222;
    border-radius: 2rem;
  }
  .header-top, .header-wrapper, .header-bottom, .header-contact, .header-nav {
    display: block;
  }
  .header-top {
    background-image: unset;
    height: auto;
    padding: 0;
  }
  .header-top .header-logo-side {
    display: block;
    margin-bottom: 2.5rem;
    width: 18.8rem;
    height: 4.2rem;
    margin-left: -1rem;
  }
  .header-contact {
    display: none;
  }
  .header-control {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 1rem;
  }
  .header-social, .header-language-list {
    display: inline-flex;
    gap: 1rem;
    flex-shrink: 0;
  }
  .header-language-text {
    display: none;
  }
  .header-login {
    margin-bottom: 1rem;
  }
  .header-bottom .header-logo-inner {
    display: none;
  }
  .header-bottom-img {
    display: none;
  }
  .header-nav-link {
    font-weight: 300;
    text-transform: capitalize;
    font-size: 1.6rem;
    text-align: left;
    padding: 1.5rem 1.5rem;
    margin: 0 -1.5rem;
    width: calc(100% + 3rem);
    border-bottom: 1px solid #dce1e6;
  }
  .header-nav-link:hover {
    background: linear-gradient(to right, white, rgba(239, 82, 34, 0.4));
    text-decoration: underline;
  }
}
.topic {
  padding: 1.5rem 0 6.6rem 0;
}
.topic-route {
  font-family: "SFProVietsub";
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  column-gap: 0.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  text-transform: capitalize;
  color: #333333;
  margin-bottom: 1.5rem;
}
.topic-date {
  font-size: 1.5rem;
  color: #4a4a4a;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
}
@media screen and (max-width: 767.8px) {
  .topic {
    padding: 1.5rem 0 5.5rem 0;
  }
  .topic-route {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .topic-date {
    font-size: 1.2rem;
  }
}

.step-bar {
  position: relative;
  margin: 0 2.5rem;
}
.step-number {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
}
.step-number-item {
  position: relative;
  max-width: 10rem;
  text-align: center;
}
.step-number-processing .step-number-circles {
  border: 2px solid #ef5222;
  color: #ef5222;
}
.step-number-processing .step-number-title {
  color: #ef5222;
}
.step-number-completed .step-number-circles {
  color: white;
  background-color: #ef5222;
}
.step-number-completed .step-number-title {
  color: #ef5222;
}
.step-number-waiting .step-number-circles {
  color: #637280;
  background-color: #ededed;
  border: 2px solid #ededed;
}
.step-number-waiting .step-number-title {
  color: #637280;
}
.step-number-circles {
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  width: 3.2rem;
  height: 3.2rem;
  background-color: #ededed;
  border-radius: 50%;
  display: grid;
  place-items: center;
  z-index: 2;
}
.step-number-title {
  width: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: -2.5rem;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.step-line {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-line-item {
  display: block;
  width: 33.3333333333%;
  height: 0.5rem;
  background-color: #ededed;
}
.step-line-item-completed {
  background-color: #ef5222;
}
.step-line-item-waiting {
  background-color: #ededed;
}
@media screen and (max-width: 767.8px) {
  .step-number-title {
    font-size: 1rem;
    line-height: 1.5;
    top: -1.8rem;
  }
  .step-number-circles {
    width: 2.8rem;
    height: 2.8rem;
  }
}
@media screen and (max-width: 375.8px) {
  .step-number-title {
    font-size: 0.9rem;
    width: 6.7rem;
  }
  .step-number-circles {
    width: 2.8rem;
    height: 2.8rem;
  }
}

.filter {
  padding: 2.5rem 0 4rem 0;
}
.filter-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  column-gap: 2.5rem;
}
.filter-item {
  font-family: "SFProVietsub";
  font-weight: 200;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  display: block;
  width: 15.5rem;
  height: 4rem;
  border-radius: 2rem;
  padding: 0 1.6rem;
  background-color: rgba(99, 114, 128, 0.1);
  color: #495057;
  border: none;
  transition: box-shadow 0.3s ease;
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, grey 0), linear-gradient(135deg, grey 50%, transparent 0);
  background-position: calc(100% - 24px) calc(1em + 2px), calc(100% - 18px) calc(1em + 2px);
  background-size: 6px 6px, 6px 6px;
  background-repeat: no-repeat;
}
.filter-item:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.filter-item-option {
  font-family: "SFProVietsub";
  font-weight: 200;
  font-size: 1.6rem;
}
@media screen and (max-width: 425.8px) {
  .filter-list {
    display: block;
  }
  .filter-item {
    width: 100%;
  }
  .filter-item:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.route-topic {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 18px;
  padding: 0 16px;
  color: #141414;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  margin-bottom: 2.5rem;
}
.route-item {
  background-color: white;
  padding: 3rem 2rem 5rem 2rem;
  border-radius: 8px;
  border: 1px solid #dde2e8;
  margin-bottom: 20px;
}
.route-item:not(:last-child) {
  margin-bottom: 2rem;
}
.route-item.route-choosing {
  border: 2px solid #ef5222;
}
.route-item.route-choosing .route-schedule,
.route-item.route-choosing .route-seat {
  display: block;
}
.route-item.route-choosing .route-result {
  display: flex;
}
.route-head {
  position: relative;
}
.route-head-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
  margin-bottom: 2rem;
}
.route-head-timespan {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  column-gap: 1rem;
}
.route-head-timestart, .route-head-timeend {
  font-size: 2.5rem;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  color: #333333;
}
.route-head-arrow {
  width: 2.9rem;
  height: 0.8rem;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
.route-head-service {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  column-gap: 1rem;
}
.route-head-service i {
  font-size: 1.3rem;
  color: #a2abb3;
}
.route-head-des {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  column-gap: 1.8rem;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  color: #a8a9aa;
  border-radius: 1.6rem;
  padding: 0.8rem 1.2rem;
  max-width: 32rem;
  background-color: rgba(99, 114, 128, 0.1);
  margin-bottom: 1.5rem;
}
.route-head-des div {
  color: #111111;
}
.route-head-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: normal;
  column-gap: 1.7rem;
}
.route-head-content-detail {
  padding: 0.3rem 0;
}
.route-head-content-detail div:not(:last-child) {
  margin-bottom: 2.2rem;
}
.route-head-line-place {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
}
.route-head-line-place i {
  font-size: 1.6rem;
  color: #00613d;
  position: relative;
  z-index: 1;
  background-color: white;
}
.route-head-line-place i:last-child {
  font-size: 1.95rem;
  color: #ef5222;
}
.route-head-line-connect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 0.2rem;
  right: 0.2rem;
  border-left: 0.24rem dotted #c0c6cc;
}
.route-head-departure, .route-head-destination {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  color: #111111;
  text-transform: capitalize;
}
.route-head-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  font-size: 1.3rem;
  color: #00613d;
}
.route-head-content span {
  margin-left: 0.5rem;
}
.route-button {
  position: absolute;
  right: 0;
  top: 10rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  row-gap: 0.6rem;
}
.route-button input[type=checkbox] {
  width: 2.5rem;
  height: 2.5rem;
  appearance: none;
  cursor: pointer;
  position: relative;
  background-color: white;
  border: 2px solid #a2abb3;
  border-radius: 50%;
  overflow: hidden;
}
.route-button input[type=checkbox]:checked {
  border: none;
  background-color: #ef5222;
}
.route-button input[type=checkbox]:checked + label {
  color: #ef5222;
}
.route-button input[type=checkbox]:checked::after {
  display: inline-block;
  content: "✓";
  border-radius: 50%;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.route-button label {
  color: #00603d;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  font-size: 1.3rem;
}
.route-schedule {
  max-width: 47rem;
  margin: 2.5rem auto 1.5rem;
  background-color: #f8f9f9;
  border: 1px solid #ebedee;
  border-radius: 0.8rem;
  display: none;
}
.route-schedule-title {
  padding: 2rem 1.5rem;
  color: #ef5222;
  font-family: "SFProVietsub";
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  cursor: pointer;
}
.route-schedule-list {
  padding: 1.5rem 2rem 4.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: normal;
  row-gap: 3.8rem;
  display: none;
}
.route-schedule-list.route-schedule-active {
  display: flex;
}
.route-schedule-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: normal;
  column-gap: 2.5rem;
}
.route-schedule-item:last-child i {
  padding: 0.2rem;
  font-size: 1.85rem;
  color: #00613d;
}
.route-schedule-des p:first-child {
  min-width: 13.5rem;
  flex-shrink: 1;
}
.route-schedule-des p {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  color: #111111;
}
.route-schedule-time {
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: normal;
  font-size: 1.5rem;
  color: #4a4a4a;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
}
.route-schedule-time i {
  font-size: 2.5rem;
  color: #637280;
  margin-top: -0.5rem;
}
.route-schedule-date {
  display: block;
  margin: 0 0.5rem;
}
.route-schedule-content {
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
}
.route-schedule-place {
  font-size: 1.5rem;
  color: #111111;
  text-transform: capitalize;
  margin-bottom: 0.7rem;
}
.route-schedule-location {
  font-size: 1.3rem;
}
.route-seat {
  display: none;
  max-width: 59rem;
  border: 1px solid #ebedee;
  border-radius: 0.8rem;
  margin: 0 auto;
}
.route-seat-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  font-size: 14px;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  color: #4a4a4a;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
}
.route-seat-title div {
  cursor: pointer;
  width: 50%;
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  column-gap: 1rem;
}
.route-seat-title div i {
  font-size: 1.8rem;
  display: none;
}
.route-seat-floor {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: normal;
  padding: 3rem 0;
  background-color: #f8f9f9;
}
.route-seat-floor-item {
  padding: 0 1.5rem;
  width: 50%;
}
.route-seat-table {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: normal;
  row-gap: 1.2rem;
  width: 100%;
}
.route-seat-table tbody {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: normal;
  row-gap: 1.2rem;
  width: 100%;
}
.route-seat-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
}
.route-seat-row svg text {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  font-family: "SFProVietsub";
  font-weight: 100;
  text-align: center;
  stroke: #637280;
}
.route-seat-row svg rect {
  fill: #def3ff;
  stroke: #96c5e7;
}
.route-seat-item.seat-empty {
  cursor: pointer;
}
.route-seat-item.seat-empty svg text {
  user-select: none;
  display: block;
  width: 100%;
  font-size: 1.4rem;
  font-family: "SFProVietsub";
  font-weight: 100;
  text-align: center;
  stroke: #637280;
}
.route-seat-item.seat-empty svg rect {
  fill: #def3ff;
  stroke: #96c5e7;
}
.route-seat-item.seat-active {
  cursor: pointer;
}
.route-seat-item.seat-active svg text {
  user-select: none;
  display: block;
  width: 100%;
  font-size: 1.4rem;
  font-family: "SFProVietsub";
  font-weight: 100;
  text-align: center;
  stroke: #637280;
}
.route-seat-item.seat-active svg rect {
  fill: #fdede8;
  stroke: #f8beab;
}
.route-seat-item.seat-disable {
  cursor: not-allowed;
}
.route-seat-item.seat-disable svg text {
  user-select: none;
  display: block;
  width: 100%;
  font-size: 1.4rem;
  font-family: "SFProVietsub";
  font-weight: 100;
  text-align: center;
  stroke: #637280;
}
.route-seat-item.seat-disable svg rect {
  fill: #d5d9dd;
  stroke: silver;
}
.route-seat-note {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: normal;
  background-color: #f8f9f9;
  padding-bottom: 1.5rem;
}
.route-seat-e-item, .route-seat-a-item, .route-seat-d-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  column-gap: 0.7rem;
}
.route-seat-e-item p, .route-seat-a-item p, .route-seat-d-item p {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  color: #637280;
}
.route-seat-e-box {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  border: 1px solid #96c5e7;
  background-color: #def3ff;
}
.route-seat-a-box {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  border: 1px solid #f8beab;
  background-color: #fdede8;
}
.route-seat-d-box {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  border: 1px solid silver;
  background-color: #d5d9dd;
}
.route-result {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
  margin-top: 2rem;
  display: none;
}
.route-result-ticket {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  column-gap: 0.5rem;
  font-size: 1.5rem;
  color: #4a4a4a;
  margin-bottom: 1rem;
}
.route-result-name {
  column-gap: 0.5rem;
  font-size: 1.5rem;
}
.route-result-cost {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: normal;
  column-gap: 0.5rem;
}
.route-result-cost-title {
  font-size: 1.5rem;
  color: #4a4a4a;
}
.route-result-cost-value {
  display: flex;
  column-gap: 0.5rem;
  font-family: "SFProVietsub";
  font-weight: 300;
  font-size: 1.9rem;
  color: #111111;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
}
.route-result-cost-value span {
  font-size: 1.5rem;
  align-self: flex-start;
}
.route-result-button {
  border-radius: 2.4rem;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  color: white;
  background-color: #ef5222;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
  cursor: pointer;
}
.route-result-button p {
  padding: 1.5rem 12rem;
}
.route-result-button i {
  padding-right: 1.5rem;
  font-size: 1.8rem;
}
@media screen and (max-width: 767.8px) {
  .route-seat-title div.seat-title-active {
    color: #ef5222;
    border-bottom: 0.1rem solid #ef5222;
  }
  .route-seat-title div i {
    display: block;
  }
  .route-seat-floor {
    justify-content: center;
  }
  .route-seat-floor-item {
    width: 100%;
  }
  .route-seat-floor-item.this-floor-not {
    display: none;
  }
  .route-result-button {
    padding: 1.5rem 2.5rem;
  }
  .route-result-button p {
    padding: 0;
  }
  .route-result-button i {
    font-size: 1.6rem;
    padding-left: 1.5rem;
    padding-right: 0;
  }
}
@media screen and (max-width: 479.8px) {
  .route-item {
    padding-bottom: 3.5rem;
  }
  .route-head-des {
    column-gap: 0.5rem;
    justify-content: flex-start;
    width: 100%;
    letter-spacing: 0;
    text-indent: 0;
  }
  .route-seat-item svg {
    transform: scale(0.8);
  }
  .route-seat-e-item, .route-seat-a-item, .route-seat-d-item {
    width: calc(50% - 0.6666666667rem);
  }
  .route-seat-note {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .route-result {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
  }
  .route-result-button {
    align-self: flex-end;
  }
}

.error {
  background-color: #ef5222;
  color: white;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  font-size: 1.3rem;
  padding: 2rem;
  max-width: fit-content;
  position: fixed;
  top: 50%;
  right: 1.5rem;
  visibility: hidden;
  opacity: 0;
  transform: translateX(calc(100% + 1.6rem));
  transition: all 0.2s ease-out;
}
.error.error-validation-active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.error-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: normal;
}
.error-item {
  line-height: 1.5;
}

.step-nav {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.step-nav-button {
  cursor: pointer;
  border-radius: 2.5rem;
  border: 1px solid #c0c6cc;
  background-color: white;
  color: #111111;
  padding: 1.5rem 0;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
}
.step-nav-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
}
.step-nav-content i {
  margin-right: 3rem;
  font-size: 1.8rem;
}

.footer {
  background-color: #f6f6f6;
  border-top: 0.5px solid rgba(151, 151, 151, 0.5);
  padding: 2.5rem 0 0 0;
}
.footer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: normal;
}
.footer-title {
  font-family: "SFProVietsub";
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ef5222;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  margin-bottom: 1.5rem;
}
.footer-info {
  width: calc(55% - 3rem);
}
.footer-line {
  width: calc(45% - 3rem);
}
.footer-connect {
  width: 100%;
}
.footer-feature {
  width: 100%;
}
.footer-info-title {
  color: #637280;
}
.footer-info-local {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
  margin-bottom: 1.5rem;
}
.footer-info-phone {
  font-family: "SFProVietsub";
  font-size: 3.6rem;
  color: #ef5222;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  font-weight: 900;
}
.footer-info-phone:hover {
  color: rgba(239, 82, 34, 0.9);
}
.footer-info-sub {
  display: block;
  width: 12.5rem;
  height: 4rem;
}
.footer-info-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-info-name, .footer-info-address, .footer-info-mail {
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  margin-bottom: 1.2rem;
}
.footer-info-name {
  text-transform: uppercase;
}
.footer-info-mail a {
  color: #ef5222;
}
.footer-info-mail a:hover {
  opacity: 0.8;
}
.footer-info-contact {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  row-gap: 0.5rem;
  column-gap: 2rem;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  color: #00613d;
}
.footer-line-title {
  text-transform: none;
  font-size: 1.4rem;
}
.footer-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: normal;
  column-gap: 1rem;
}
.footer-nav-item {
  margin-bottom: 1.8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
}
.footer-nav-icon {
  font-size: 1.7rem;
}
.footer-connect {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: normal;
  column-gap: 11rem;
}
.footer-connect-title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.footer-connect-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
}
.footer-connect-social {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
}
.footer-connect-social img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-connect-social:last-child {
  margin-left: 1.5rem;
}
.footer-connect-app {
  display: block;
  padding: 0.35rem 1rem;
  border-radius: 1.4rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  background-color: #111111;
}
.footer-connect-app i {
  font-size: 2rem;
}
.footer-connect-app:last-child {
  margin-left: 0.8rem;
  background-color: #4cb508;
}
.footer-feature {
  margin-top: 3rem;
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
}
.footer-feature-item {
  display: block;
  width: fit-content;
  height: 5rem;
}
.footer-feature-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-feature-item:first-child {
  margin-left: -1rem;
}
.footer-end {
  padding: 16px 0 24px 0;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 0.04rem;
  text-indent: -0.04rem;
  border-top: 1px solid #637280;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
@media screen and (max-width: 767.8px) {
  .footer-list {
    flex-direction: column;
    row-gap: 2rem;
  }
  .footer-item {
    width: 100%;
  }
  .footer-end {
    font-size: 1.1rem;
    padding-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 479.8px) {
  .footer-connect {
    margin-top: 0;
    column-gap: 0;
    justify-content: space-between;
  }
  .footer-connect-social {
    margin-right: 0;
  }
}
@media screen and (max-width: 389.8px) {
  .footer-connect {
    flex-wrap: wrap;
    row-gap: 1.5rem;
  }
  .footer-nav {
    display: block;
  }
  .footer-nav-item {
    width: 100%;
  }
  .footer-nav-right .footer-nav-item:last-child {
    margin-bottom: 0;
  }
  .footer-item:nth-child(2) {
    order: 3;
  }
  .footer-item:nth-child(4) {
    order: 3;
  }
  .footer-feature {
    margin-top: 0;
    display: block;
  }
  .footer-feature-item:not(:nth-child(999)) {
    margin: 0;
    min-width: 18rem;
    height: 4.8rem;
  }
  .footer-feature-item:not(:nth-child(999)) img {
    object-fit: fill;
  }
}